/* NUCLEAR HEADER */

.menu-item-9156, .menu-item-9155, .menu-item-9154, .menu-item-9153 {
    padding-bottom: 12px !important;padding-top: 12px !important;
}

#menu-menu, #menu-menu-1 {
    display: flex !important;
    justify-content: center !important;
}


.mp-back {
    border: none !important;
}

span.elementor-button-icon.elementor-align-icon-right {order:1 !important;}

@media (max-width: 1024px) {
.elementor-menu-toggle-close.mp-back {
    position: absolute !important; 
    top: 0 !important;
    right: 0 !important;
    bottom: unset !important;
    background: transparent !important;
    justify-content: flex-start !important;
    padding: 16px;
    color: #ffffff !important;
    font-weight: 500 !important;
}
ul#menu-canvas-2-e47368d, ul#menu-canvas-2-ad66314
{
    width: 100% !important;
    padding-top: 48px !important;
}

.elementor-6107 .elementor-element.elementor-element-e47368d .elementor-menu-toggle {
    height: unset !important;
}

}

@media (max-width: 767px) {
    .elementor-13065 .elementor-element.elementor-element-ad66314 .elementor-menu-toggle, .elementor-6107 .elementor-element.elementor-element-e47368d .elementor-menu-toggle {
        width: 32px !important;
        height: 60px !important;
                margin-top: -4px !important;
        margin-right: -8px !important;

    }
  }